# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

.idea


generated-trackity-entities


**/.DS_Store

.env_prod
.env*

.data


.env_dev

.env

third3party

path