coloredlogs==15.0.1
apache-airflow-providers-papermill==3.2.0
apache-airflow-providers-apache-spark==4.1.0
apache-airflow-providers-ssh==3.7.0
pyspark==3.4.0
shelljob==0.6.3
Flask==2.2.5
Flask-Admin==1.5.8
dag-factory
azure-servicebus==7.10.0
Jinja2==3.0.2
fastapi==0.96.0
uvicorn==0.22.0
watchdog==3.0.0
dacite==1.8.1
# apache-airflow-providers-apache-hdfs==3.2.1